canvas {
    display: block;
    margin: 0 auto;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    flex-direction: column;
}

.card {
    width: 200px;
    padding: 5px;
    border: 1px solid;
    border-radius: 8px;
    margin-top: 30px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}

.game-over {
    text-shadow: 3px 3px black;
    color:red;
    text-transform:uppercase;
    font-size: 40px;
}

.restart {
    background-color: green;
    text-transform:uppercase;
    font-size: 25px;
    cursor: pointer;

}

.score-result {
    color: white;
    font-family: "Cursive", sans-serif;
    font-style: italic;
    text-shadow: 1px 1px red;
}